@import 'vue-select/dist/vue-select.css';

:root {
  --border-color: #ced4da;
  --border-width: 1px;
  --border-radius: 0.5rem;
  --field-border-color: #a88ad2;
  --field-transition: border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  --field-shadow: 0 0 0 0.2rem var(--secondary-shadow);

  --background-outset-color: #f8fafc;
  --background-inset-color: white;
  --background-inset-active-color: #f8f9fa;
  --active-background: #e3e3e3;
  --text-color: #121212;
  --secondary-text-color: #868e96;
  --link-color: #663da0;
  --link-hover-color: #432869;
  --header-color: var(--text-color);

  --vs-border-color: var(--border-color);
  --vs-border-width: var(--border-width);
  --vs-border-radius: var(--border-radius);
  --vs-search-input-color: var(--text-color);
  --vs-selected-color: var(--text-color);

  --vs-line-height: 1.375;
  --vs-actions-padding: 0;
  --vs-dropdown-option--active-bg: var(--secondary-button-background);

  --disabled-opacity: 0.65;

  --success-button-background: #00bf8a;
  --success-button-hover-border: #008c65;
  --success-button-hover-background: #00996e;
  --success-button-text: white;
  --success-shadow: rgba(38, 201, 156, 0.5);
  --success-alert-text: #006348;
  --success-alert-background: #ccf2e8;
  --success-alert-border: #b8edde;

  --info-button-text: white;
  --info-button-background: #17a2b8;
  --info-button-hover-background-color: #117a8b;
  --info-button-hover-border-color: #10707f;
  --info-alert-text: #0c5460;
  --info-alert-background: #d1ecf1;
  --info-alert-border: #bee5eb;

  --warning-button-text: white;
  --warning-button-background: #fd681d;
  --warning-button-hover-background: #e54e02;
  --warning-button-hover-border: #d84a02;
  --warning-alert-text: #84360f;
  --warning-alert-background: #ffe1d2;
  --warning-alert-border: #fed5c0;

  --danger-button-text: white;
  --danger-button-background: #d1185e;
  --danger-button-hover-background: #a31349;
  --danger-button-hover-border: #981144;
  --danger-alert-text: #6d0c31;
  --danger-alert-background: #f6d1df;
  --danger-alert-border: #f2bed2;
  --danger-shadow: rgba(216, 59, 118, 0.5);
  --danger-field-border: #e16997;

  --secondary-button-text: white;
  --secondary-button-background: #663da0;
  --secondary-button-hover-background: #543284;
  --secondary-button-hover-border: #4e2f7b;
  --secondary-shadow: rgba(125, 90, 174, 0.5);

  --tertiary-button-text: var(--text-color);
  --tertiary-button-background: #e9ecef;
  --tertiary-button-border: var(--border-color);
  --tertiary-button-hover-background: #b8c1ca;
  --tertiary-button-hover-border: var(--border-color);
  --tertiary-shadow: rgba(180, 186, 191, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-outset-color: #161616;
    --background-inset-color: #101010;
    --background-inset-active-color: #222222;
    --border-color: #312b25;
    --field-border-color: #a88ad2;
    --active-background: var(--background-inset-active-color);
    --text-color: #d5d9dd;
    --link-hover-color: #bc8cff;
    --header-color: #d5d9dd;
    --link-color: #ad73ff;

    --secondary-button-background: #ad73ff;

    --tertiary-button-background: #222222;
    --tertiary-button-hover-background: #473e35;
    --tertiary-button-border: var(--border-color);
    --tertiary-shadow: rgba(75, 69, 64, .5);
  }
}

.v-popper--theme-dropdown .v-popper__wrapper,
.v-popper--theme-full-context .v-popper__wrapper {
  .v-popper__inner {
    color: var(--text-color);
    background-color: var(--background-outset-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
  }
  .v-popper__arrow-container {
    .v-popper__arrow-outer {
      border-color: var(--border-color);
    }
    .v-popper__arrow-inner {
      border-color: var(--background-outset-color);
    }
  }
}

.v-popper--theme-full-context .v-popper__wrapper {
  h6 {
    padding: 0.25rem;
    font-weight: 700;
  }
  hr {
    border: 1px solid var(--border-color);
  }
  .popover-content {
    padding: 0.25rem;
    background-color: var(--background-inset-color);
  }
}

.v-select {
  background-color: var(--background-inset-color);

  &.vs--multiple {
    .vs__dropdown-toggle > div {
      .vs__selected {
        border: var(--border-width) solid var(--border-color);
        padding: 0 7px;
        position: unset;
        margin-right: 7px;
        background-color: var(--active-background);
        color: var(--text-color);
        margin-bottom: 2px;
      }
    }
  }
  .vs__dropdown-toggle {
    padding: 0.625rem 0.75rem;
    transition: var(--field-transition);

    &:has(div .vs__search:focus) {
      color: var(--text-color);
      background-color: var(--background-inset-color);
      border-color: var(--field-border-color);
      outline: 0;
      box-shadow: var(--field-shadow);
      background-clip: padding-box;
    }

    > div {
      overflow-x: hidden;

      .vs__selected {
        overflow-x: hidden;
        text-overflow: ellipsis;
        position: absolute;
      }

      .vs__selected,
      .vs__search {
        margin: 0;
        border: 0;
        padding: 0;
      }
    }
  }
  .vs__dropdown-menu {
    background-color: var(--background-inset-color);

    .vs__dropdown-option {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}

.form-group {
  margin-bottom: 0.5rem;

  label {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding-top: 10px;
  }

  &.combined {
    display: flex;

    &.reversed {
      > div:last-child {
        flex-grow: 1;
      }
      > div:first-child {
        margin-right: 1rem;
      }
    }

    &.equal {
      > div:first-child {
        margin-right: 1rem;
      }
      > div {
        width: 50%;
      }
    }

    &:not(.reversed, .equal) {
      > div:first-child {
        flex-grow: 1;
      }
      > div:last-child {
        margin-left: 1rem;
      }
    }
  }

  &:has(> .form-control[type='checkbox']),
  > div.side:has(> .form-control[type='checkbox']) {
    display: flex;
    align-items: center;
    padding-top: 5px;

    label,
    .help-text {
      margin: 0;
      padding: 0;
      padding-left: 0.5rem;
    }
  }

  .help-text {
    color: var(--secondary-text-color);
    font-size: 80%;
    margin-top: 0.25rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  color: var(--text-color);
  background-color: var(--background-inset-color);
  background-clip: padding-box;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  transition: var(--field-transition);
  appearance: inherit;

  &:focus,
  &.ds-selected,
  &.ds-hover {
    color: var(--text-color);
    background-color: var(--background-inset-color);
    border-color: var(--field-border-color);
    outline: 0;
    box-shadow: var(--field-shadow);
  }

  &[type='checkbox'] {
    height: 44px;
    width: 44px;
    min-width: 44px;
    border-radius: 0.35rem;

    &.small {
      height: 22px;
      width: 22px;
      min-width: 22px;
      padding: 0;
    }
  }

  &[type='number'] {
    text-align: center;
  }

  &:checked {
    background-color: var(--secondary-button-background);
    border-color: var(--secondary-button-background);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  &:indeterminate {
    background-color: var(--secondary-button-background);
    border-color: var(--secondary-button-background);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
  }

  &:invalid {
    border-color: var(--danger-field-border);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--danger-shadow);
  }
}

.btn-success {
  margin-top: 1rem;
  background-color: var(--success-button-background);
  border-color: var(--success-button-background);
  color: var(--success-button-text);

  &:hover,
  &:focus {
    background-color: var(--success-button-hover-background);
    border-color: var(--success-button-hover-border);
    color: var(--success-button-text);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--success-shadow);
  }
}

.section-label {
  margin-bottom: 0.25rem;
  padding-top: 10px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--background-inset-color);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  line-height: 1.375;
  border-radius: var(--border-radius);
  margin: 0px 0.1rem;
  transition: all 0.2s ease;

  &.primary {
    color: var(--secondary-button-text);
    background-color: var(--secondary-button-background);
    border-color: var(--secondary-button-background);

    &:hover {
      background-color: var(--secondary-button-hover-background);
      border-color: var(--secondary-button-hover-border);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
    }
  }

  &.outline-primary {
    color: var(--secondary-button-background);
    border-color: var(--secondary-button-background);

    &:hover {
      color: var(--background-inset-color);
      background-color: var(--secondary-button-background);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--secondary-shadow);
    }
  }

  &.info {
    color: var(--tertiary-button-text);
    background-color: var(--tertiary-button-background);
    border-color: var(--tertiary-button-border);

    &:hover {
      background-color: var(--tertiary-button-hover-background);
      border-color: var(--tertiary-button-hover-border);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--tertiary-shadow);
    }
  }

  &.outline-info {
    color: var(--link-color);
    border-color: var(--tertiary-button-border);

    &:hover {
      color: var(--background-inset-color);
      background-color: var(--tertiary-button-background);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem var(--tertiary-shadow);
    }
  }

  &.small {
    padding: 0.4rem 0.4rem;
  }
}

th {
  font-weight: 600;
}

.searchbar {
  display: inline-block;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--background-inset-color);
  border: 1px solid var(--tertiary-button-border);
  padding: 0.4rem 10rem;
  font-size: 1rem;
  line-height: 1.375;
  border-radius: var(--border-radius);
  margin: auto;
  transition: all 0.2s ease;

  &.small {
    padding: 0.4rem 0.4rem;
    margin: 0px 0.1rem;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem var(--tertiary-shadow);
    border-color: var(--tertiary-button-border);
  }
}

.card {
  margin: 0.5rem;
  padding: 0.9rem;
  background: var(--background-inset-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    h3 {
      flex-grow: 1;
    }
  }

  &.info {
    border-color: var(--info-button-background);
    color: var(--info-button-background);
  }
}

table {
  width: 100%;

  tr {
    &.speaker-row > td:first-child {
      padding-left: 1.5rem;
    }
    td,
    th {
      padding: 8px 8px 8px 4px;
      vertical-align: middle;
    }
    th {
      svg {
        float: left;
      }
      [data-pc-section='sort'],
      [data-pc-section='sortbadge'] {
        float: right;
      }
    }
  }
  thead {
    border-bottom: 2px solid var(--border-color);
    position: sticky;
    background: var(--background-inset-color);
    inset-block-start: 0;
    text-align: left;
  }

  tbody {
    font-size: 0.875rem;
    line-height: 1.375;

    tr {
      &.edit-row {
        line-height: 1;
        font-size: 1rem;
      }
      &:hover:not(.edit-row) {
        transition: background-color 0.2s ease;
        background-color: var(--active-background);
      }

      &:not(:last-child, .is-editing) {
        border-bottom: 1px solid var(--border-color);
      }
    }
  }
}

.redacted {
  text-decoration: line-through;
}

.url-link {
  font-family: monospace;
}

.tables {
  display: flex;

  .round-col {
    text-align: center;
  }

  .center {
    margin: auto;
  }
}

div[role='dialog'] {
  background-color: var(--background-outset-color);
  padding: 0.9rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

div[role='tablist'] > div > div > ul > li {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  color: var(--text-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
  background: var(--background-inset-color);

  & + div {
    margin-left: -1px;
  }

  &[data-p-active='true'] {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--active-background);
  }

  &:not(.active) {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
  }
}

.icon-btn {
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: var(--link-color);
  }
}

.p-datatable .p-paginator-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    min-width: 2.5rem;
    height: 2.5rem;
    margin: 0.143rem;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s,
      outline-color 0.2s;
    border-radius: 50%;

    &:not(:disabled):not(.p-highlight):hover {
      background: var(--secondary-shadow);
    }
  }
  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    position: relative;
  }

  .p-paginator-current {
    border: 0 none;
    min-width: 2.5rem;
    height: 2.5rem;
    margin: 0.143rem;
    padding: 0 0.5rem;
  }
}
